<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h2>Your Pragmatic Cart</h2>
<ul>
    <% @cart.line_items.each do |item| %> 
        <li><%= item.product.title %>  <%= number_to_chf(item.product.price) %></li>
    <% end %> 
    <li class="total">Total: <%= number_to_chf(@cart.get_total_price) %></li>
</ul>
